{% extends 'site.html.twig' %}

{% block title %}Accountant{% endblock %}

{% block content %}
    <div class="row">
        {% for user in users %}
            <div class="col-lg-3">
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ user.username }}</div>
                    <div class="card-body">
                        <h4 class="card-title">email : {{ user.email }}</h4>
                        <p class="card-text">phone : {{ user.phoneNumber }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}